.start_button{
   display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.start_button{
   background: #67c5ff;
   color: white;
}

.square_flex{
  display: flex;
}

.square_free{
  height:100px;
  width:100px;
  border : solid 1px black;
  display: inline-block;
  font-size: 40px;
}

.square{
  height:100px;
  width:100px;
  border : solid 1px black;
  display: inline-block;
  font-size: 80px;
  text-align: center;
}