<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ReadFileSample</title>
</head>

<body>
    <form action="/" method="POST">
        <div>
            <label for="number">Number:</label>
            <input id="number" type="text" name="number" />
        </div>
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" />
        </div>
        <div>
            <input id="posting" type="submit" value="送信" />
        </div>
    </form>
    <ul><% if(text.length != 0){%>
        <% text.forEach(function (item){ %>
        <li><%= item %></li>
        <% }); %>
        <% } %>

    </ul>
</body>

</html>