<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Vue</title>
</head>

<body>
    <div id="app">
        {{message === 1 ? 5 : 3 }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            time
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">
            see
        </span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <div id="app-8">
        <p>{{increment(11)}}</p>
    </div>

    <div id="example">
        <p>{{message}}</p>
        <p>{{reversedMessage}}</p>
    </div>

    <div id="demo">
        {{fullName = "john smis"}}
    </div>

    <div id="app-9">
        <div v-bind:class="classObject">text</div>
    </div>
    <style>
        .active {
            color: red;
        }
    </style>

    <div id="app-10">
        <template v-if="loginType === 'username'">
            <label>username</label>
            <input placeholder="Enter your name">
        </template>
        <template v-if="loginType === 'email'">
            <label>email</label>
            <input placeholder="Enter your email address">
        </template>
        <button v-on:click="changeType">type change</button>
    </div>

    <ul id="example-1">
        <li v-for="(item) in items">
            {{item.message}}
        </li>
    </ul>

    <ul id="v-for-object">
        <li v-for="(key, value) in object">
            {{key}} : {{value}}
        </li>
    </ul>

    <ul id="fil">
        <li v-for="n in evenNumbers">
            {{n}}
        </li>
    </ul>


    <script src="index.js"></script>
</body>

</html>